:root{
    --blaco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #dfe9f3;
}

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blaco) 100% );
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}

.titulo span{
    font-size: 2rem;
}

.contendor{
    max-width: 120rem;
    margin: 0 auto;
}

.boton{
    background-color: var(--secundario);
    color: var(--blaco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
@media (min-width: 768px) {
    .boton{
        width: auto;
    }
}
.boton:hover{
    cursor: pointer;
}
.sombra{
    box-shadow: 0px 5px 15px 0px rgba(112, 112, 112,0.54);
    background-color: var(--blaco);
    padding: 2rem;
    border-radius: 1rem;
} 
.w-100{
    width: 100%;
}
@media (min-width: 768px) {
    .w-100{
        width: auto;
    }
}
.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end;
}
.nav-bg{
    background-color: var(--secundario);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--blaco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

.hero{
    background-image: url(Media/Fondo\ de\ pantalla\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero{
    position: absolute;
    background-color: rgb( 0 0 0 / 70%);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p{
    color: var(--blaco);
}
.ubicacion{
    display: flex;
    align-items: flex-end;
}
/**servicios**/
@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.servicio h3{
    color: var(--secundario);
    font-weight: 400;
}
.servicio p{
    line-height: 2;
    text-align: center;
}
.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/** Contacto **/
.formulario{
    background-color: var(--gris);
    width: min( 60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}
.formulario legend{
    color: var(--primario);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.formulario fieldset{
    border: none;
}
@media (min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1 / 3;
    }
}
.campo{
    margin-bottom: 1rem;
}
.campo label{
    color: var(--blaco);
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}
.campo textarea{
    height: 20rem;
}
.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
.foter{
    text-align: center;
}